<section class="jumbotron">
    <div class="container silver">
        <h1>Gram Like Cam</h1>
        <p class="lead">Some awesome tagline</p>
    </div>
</section>

<section class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <textarea id="cam-input" class="form-control cam-text"></textarea>
                </div>
                <div class="form-group text-center">
                    <button class="btn btn-block btn-default" id="camify">Camify</button>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <textarea id="cam-output" class="form-control cam-text"></textarea>
                </div>
            </div>
        </div>
    </div>
</section>