<section style="background: #028FD2 url(/images/cam-superman.jpg) no-repeat; background-size: cover, 100%;">
    <div class="jumbotron">
        <div class="container">
            <h1>'gram like Cam</h1>
            <p class="lead">Ever wanted to instagram like Cam but don't have the time? We're the solution to the problem you didn't even know you had.</p>
        </div>
    </div>
</section>

<section class="container-fluid camifier" style="padding-top: 40px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center">Adjust the Camometer</h3>
                <div class="form-group">
                    <input type="range" id="cam-level" min="0" max="10" step="0.1" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <textarea id="english" class="form-control cam-text"></textarea>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label style="margin-top: 10px; margin-bottom: 10px;">
                            <input type="checkbox" id="preserve-spaces" /> Keep spaces?
                        </label>
                    </div>
                    <div class="col-md-9">
                        <div class="form-group text-center">
                            <button class="btn btn-block btn-default" id="camify">Camify</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <textarea id="camified" class="form-control cam-text"></textarea>
                </div>
                <div class="form-group text-center">
                    <button class="btn btn-block btn-default" id="un-camify">Un-camify</button>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container-fluid" style="padding-top: 80px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <hr />
                <ul class="list-inline">
                    <li><a href="https://twitter.com/gramlikecam" target="_blank"><i class="fa fa-twitter fa-2x"></i></a></li>
                    <li><a href="https://instagram.com/gramlikecam" target="_blank"><i class="fa fa-instagram fa-2x"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>