<!DOCTYPE html>
<html>
    <head>
        <title>{{title}} | Gram Like Cam</title>
        <link rel='stylesheet' href='/css/bootstrap.css'/>
        <link rel='stylesheet' href='/css/font-awesome.css'/>
        <link rel='stylesheet' href='/css/style.css'/>
    </head>
    <body>
    {{{body}}}

    <script src="/js/libs/jquery-2.1.4.js"></script>
    <script src="/js/libs/bootstrap.js"></script>
    <script src="/js/global.js"></script>
    </body>
</html>
