<!DOCTYPE html>
<html>
    <head>
        <title>{{title}} | Gram Like Cam</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="keywords" content="cam newton instagram, cam newton caption, cam newton translate" />
        <meta name="description" content="Ever wanted to instagram like Cam but don't have the time? We're the solution to the problem you didn't even know you had." />
        <meta property="og:title" content="Gram Like Cam" />
        <meta property="og:site_name" content="Gram Like Cam" />
        <meta property="og:description" content="Ever wanted to instagram like Cam but don't have the time? We're the solution to the problem you didn't even know you had." />

        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-81130520-1', 'auto');
          ga('send', 'pageview');
        </script>

        <link rel='stylesheet' href='/css/bootstrap.css'/>
        <link rel='stylesheet' href='/css/font-awesome.css'/>
        <link rel='stylesheet' href='/css/style.css'/>
    </head>
    <body>
        {{{body}}}

        <script src="/js/libs/jquery-2.1.4.js"></script>
        <script src="/js/libs/bootstrap.js"></script>
        <script src="/js/global.js"></script>
    </body>
</html>
